body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

:root{
    --main-bg-color : white;
    --over-bg-color : #fffce8;

    --text-color: #333;
    --link-color: #4d4d4d;

    --material-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}

a{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    color: var(--link-color);
}

#tg_body{
    display: flex;
    height: 100vh;
}

#tg_nav{
    width: 15%;
    background-color: var(--over-bg-color);
    align-items: stretch;
    box-shadow: var(--material-shadow);
    position: relative;
}

#tg_main{
    width: 85%;
    background-color: var(--main-bg-color);
}

#tg_portrait{
    max-width: 100%;
    width: 180px;
    margin: auto;
    margin-top: 10vh;
    background-color: black;
    height: 180px;
}

#tg_contact{
    margin-top: 3vh;
    text-align: center;
}

#tg_contact a{
    font-weight: bolder;
}

#tg_contact > div{
    margin: 10px 0;
}

#tg_contact #tg_name{
    font-weight: bolder;
    font-size: 18pt;
    font-family: 'Metrophobic', sans-serif;
}

#tg_menu{
    margin-top: 15vh;
}

#tg_menu a div{
    border-top: solid 1px var(--text-color);
    padding: 15px;
    text-align: center;
    font-family: 'Metrophobic', sans-serif;
    font-weight: bolder;
    font-size: 14pt;

    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, var(--over-bg-color) 50%, var(--main-bg-color) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

#tg_menu div:hover {
    background-position: left;
}

#tg_all_projects{
    border-bottom: solid 1px var(--text-color);
}