#tg_project_header{
    width: 100%;
    background-color: var(--over-bg-color);
    padding: 5px 25px;
    box-shadow: var(--material-shadow);
}

#tg_project_header h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}

#tg_project_header_info{
    text-align: right;
}

#tg_project_body{
    width: 90%;
    margin: 3vh auto 0vh auto;
    display: flex;
    justify-content: space-between;
}

#tg_project_sidebar{
    width: 15%;
}

#tg_project_sidebar_info{
    width: 100%;
    background-color: var(--over-bg-color);
    padding: 15px 35px;
    border-left: solid 5px var(--link-color);
}

#tg_project_sidebar_technologies{
    margin-top: 2vh;
    width: 100%;
    background-color: var(--over-bg-color);
    padding: 15px 35px;
    border-left: solid 5px var(--link-color);
}

#tg_project_text{
    width: 75%;
}

.tg_project_sidebar_info_line{
    padding: 5px 0px;
}

.tg_project_sidebar_info_line a{
    font-weight: bolder;
}

#tg_tldr{
    font-weight: bolder;
}

#tg_tldr_text{
    text-align: justify;
}

.tg_img_block{
    position: relative;
    width: 70%;
    margin: auto;
    margin-top: 2vh;
}

.tg_project_image{
    display: block;
    width: 100%;
}

.tg_img_block .tg_project_image_caption{
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    background: rgba(0,0, 0, 0.8);
    color: var(--over-bg-color);
}

.tg_img_block:hover .tg_project_image_caption{
    display: block
}

#tg_project_text p{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

#tg_project_text h2{
    font-size: 2rem;
}

#tg_project_text h2::before {
    display: inline-block;
    content: "";
    border-top: .2rem solid black;
    margin: 0 0.5rem;
    width: 10%;
    transform: translateY(-0.5rem);
}

@media screen and (max-width: 900px) {
    
    #tg_main{
        margin-top: 5vh;
    }

    #tg_project_body{
        width: 96%;
        display: block;
    }

    #tg_project_header h1{
        font-size: 2rem;
        text-align: center;
    }

    #tg_project_sidebar{
        width: 100%;
    }

    #tg_project_sidebar_info{
        width: auto;
    }

    #tg_project_text{
        width: 96%;
    }
}