#tg_main{
    display: flex;
}

#tg_milestones{
    width: 70%;
    padding: 0% 3%;
}

#tg_chronological_arrow{
    width: 30%;
}

#tg_milestones h1{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
}

.tg_milestone{
    margin-top: 5vh;
}

.tg_organisation_title{
    font-weight: bolder;
    color: black;
}

.tg_milestone_text{
    text-align: justify;
}

.tg_milestone_text a{
    font-weight: bolder;
}

.tg_milestone_text a:hover{
    font-style: italic;
}

.tg_milestone_technology{
    margin: 0px;
    display: inline-block;
    padding: 10px 15px;
    font-style: italic;
    border-left: solid 3px var(--text-color);
    background-color: var(--over-bg-color);
}

/**Chronological arrow**/

#tg_chronological_arrow{
    position: relative;
    background-image: url(../assets/ladder.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#tg_iut_bubble{
    bottom: 10vh;
    left: 45%;
}

#tg_japan_bubble{
    bottom: 30vh;
}

#tg_univ_bubble{
    left: 45%;
    bottom: 50vh;
}

#tg_ach_bubble{
    bottom: 70vh;
}

.tg_bubble_img{
    position: absolute;
    width: 50%;
    filter: grayscale(60%);
    transition: 0.2s;
}

.tg_bubble_img:hover{
    filter: grayscale(10%);
    width: 55%;
}

